*{

    border: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;

}

body{

   background-color: rgb(233, 227, 227);
   font-family: Georgia, 'Times New Roman', Times, serif;
   transition: all 0.15s ease-in-out;
   color: lightgray;
  
}

.background-image{
   background-image: url(../assets/images/background-image.webp);
 
   
 }

 .card{

    margin-left: 0.5rem;
 }
 .card{

    margin-right: 0.5rem;
    margin: 0 auto;
 }


