
#intro{

   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 10px;
   padding-top: 50px;


    
}

.intro-image{


  overflow: hidden;
  width: 15rem;
  border-radius: 3px;
  

}
.intro-image img{

  width: 100%;
  object-fit: contain;
}

.intro-text p {

 margin-top: 15px;

}
.intro-text h1 ,p {

   color: whitesmoke;
   line-height: 1.6rem;

}

.btn-hire-me{

   background-color: rgb(241, 201, 24);
   padding: 5px;
   border-radius: 5px;
   border: none;
   font-weight: 800;
   font-size: 16px;
   margin-top: 10px;
   transition: all 0.15 ease-in-out;
}
.btn-hire-me:hover{

   opacity: 0.8;
   box-shadow: 5px 5px 12px rgba(238, 236, 236, 0.15);
}









/**** about *******/


.about p{
   color:rgb(20, 20, 20);
   margin-top: 20px;
   margin-bottom: 20px;
   border-left: 2px solid rgb(247, 212, 16);
   padding-left:10px;
}




/*** projects ***/

.projects-cards-container{

  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap:1rem;
  margin: auto;
 
   
}

.project-card{
  margin-top: 15px;
  width:26rem ;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(226, 207, 36);
  border-radius: 5px;
}

.project-image{

  width: 25rem;
  height:12rem;
  overflow: hidden;
  margin: auto;

}

.project-body p{

  color: black;
  padding: 5px;
}

.project-image img{
  width: 100%;
  object-fit: contain;
}

.open-project{

   color: rgb(34, 34, 247);
}
.open-project:hover{

   text-decoration: underline;
   text-decoration-color: rgb(24, 24, 226);
}

.project-tech-stack{
  border-top: 1px solid darkgrey;
   background-color: rgb(231, 228, 228);
    opacity: 0.7;
  

}
.project-tech-stack ul{
  padding-left: 20px;
  display: flex;
  gap:5px;
  padding-bottom: 4px;
  

   
}
.projects-cards-container li{

  list-style-type: none;
}




/*** contact from ****/

.form-container{

  margin: auto;
  border: 2px solid rgb(247, 204, 13);
  border-bottom: 0;
  border-radius: 5px;
}
.form-container h2{

text-align: center;
 padding: 8px;
 
}

form{

  background-color: rgb(247, 179, 32);
  padding: 5px;
 margin: 2px auto;
 border-radius: 5px;
 
}
form button{
width: 90%;
height: 2rem;
transition: 0.15s ease-in-out;
}
form button:hover{
width: 90%;
height: 2rem;
}
form div{

 margin: 2px auto;
 display: flex;
 flex-direction: column;
 gap:3px;

}


























@media screen and (max-width: 700px) {
  

  /*** break the intro display image below tax ***/
  #intro{

    grid-template-columns:1fr;
     
 }

 .intro-image{
  width: 80%;
  margin: auto;

}

}


@media screen and (max-width: 700px) {
  

  /*** break the intro display image below tax ***/
  #intro{

    grid-template-columns:1fr;
     
 }

 .intro-image{
  width: 80%;
  margin: auto;

}


.projects-cards-container{

  grid-template-columns: 1fr;
  gap:0.9rem;
  margin: auto;
 
   
}

}